---
import AnimationLoader from '../components/ClientAnimationLoader.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portal RAÍZ</title>
  </head>
  <body>
    <AnimationLoader />
    <slot />
  </body>
</html>

<style global lang="scss">
  @import '../styles/main.scss';
</style>
